@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
body {
    font-family: 'Cairo', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
width: 41%;
padding: 36px;
text-align: center;
}
label {
display: block;
margin-bottom: 36px;
text-align: center;
width: 100%;
background: aliceblue;
border-radius: 7px;
border: none;
padding: 4px 0px;
cursor: pointer;
transition: .5s;
}
label:hover {
background: #ffd9d9;

}
input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
input[type="submit"] {
background-color: #4caf50;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
width: 100%;
font-size: 8px;
font-family: 'Cairo';
}
.name-copm{
    color: #4c4d52;
    font-family: 'Cairo', sans-serif;
}