@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');

body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.search-container {
    margin-top: 10px;
    text-align: center;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px;
}

section {
    margin: 20px;
    text-align: end;
}

.hotel,
.company {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.company-location {
    font-size: 80%;
    color: #666;
    margin-left: 5px;
}


a.visit-button {
    text-decoration: none;
    background: #333333;
    color: #fff;
    padding: 1px 12px;
    border-radius: 9px;
}

input#search {
    width: 44%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fff;
    font-family: 'Cairo', sans-serif;
}

button {
    width: 114px;
    border-radius: 5px;
    border: none;
    background: blueviolet;
    color: #ffff;
    padding: 10px 1px;
    font-family: 'Cairo', sans-serif;
}


.search-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    visibility: visible;
    text-align: center;
}

.search-item:not(.matched) {
    visibility: hidden;
}

.Tname {
    text-align: center;
    font-size: 21px;
    color: darkmagenta;
}

.availability {
    text-align: justify;
    background: gold;
    width: 62px;
    padding: 2px;
    border-radius: 4px;
    color: black;
}

a.toCOmp,
a.booking {
    background: blueviolet;
    color: white;
    padding: 3px 14px;
    text-decoration: none;
    margin: 11px;
    border-radius: 9px;
}

.compLoc {
    margin: 0px 0px 15px 0px;
}